<h2>Student Info: <%= @student.name %></h2>

<ul>
  <li>Grade: <%= @student.grade %></li>
  <li>Age: <%= @student.age %></li>
  <li>Registered: <%= @student.registered %></li>
</ul>

<a href="/students">All Students</a>
